body {
  background-color: #beeddf;
}

.main {
  text-align: center;
  margin-top: 10vh;
}

.main h2 {
  margin: 30px 0;
}

.up .row {
  justify-content: center;
  text-align: center;
}

.up input {
  width: 120px;
  border-radius: 23px;
  background-color: white;
  padding: 5px;
  font-size: 10px;
  text-align: center;
}

.hidden {
  display: block;
}

.placeholder {
  font-size: 30px;
  display: none;
}

.placeholder .row {
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

#clickme {
  margin-top: 30px;
}

.p2 {
  align-content: center;
  text-align: center;
  margin-top: 20vh;
}

.p2 #heading {
  background-color: aqua;
  border: none;
  animation: none;
  border-radius: 20px;
  padding: 5px 30px;
  margin-bottom: 30px;
}

.p2 #display {
  display: none;
}

.footer{
  margin-top: 50px;
  text-align:center;
}

#next{
  margin-left: 50vw;
}


footer a {
  text-decoration: none;
}

footer {
  background-color: aqua;
  padding: 7px;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}
