body {
  background-color: #beeddf;
}

.main {
  text-align: center;
  margin-top: 10vh;
}

.main h2 {
  margin: 30px 0;
}

.up .row {
  justify-content: center;
  text-align: center;
}

.up input {
  width: 120px;
  border-radius: 23px;
  background-color: white;
  padding: 5px;
  font-size: 10px;
}
.hidden {
  display: none;
}

.placeholder {
  font-size: 30px;
}

.placeholder .row {
  justify-content: center;
  text-align: center;
  font-size: 25px;
}

#clickme {
  margin-top: 30px;
  padding: 5px 20px;
  border-radius: 14px;
  font-size: 25px;
  align-items: center;
  background-color: rgb(67, 67, 255);
  color: white;
  border: none;
}

.footer {
  text-align: right;
  margin-right: 25vw;
}
